.custom-home-class { 
  user-select: none; 
  .description {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(130deg,#24c6dc,#5433ff 41.07%,#f09 76.05%);
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
  }
  .action-button {
    background: linear-gradient(130deg,#24c6dc,#5433ff 41.07%,#f09 76.05%);
  }
}

h2 {
  border-bottom: 0;
}