
.home .hero img {
  height: 280px;
}
.custom-home-class { 
  user-select: none; 
  .description {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(130deg,#24c6dc,#5433ff 41.07%,#f09 76.05%);
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
  }
  .action-button {
    background: linear-gradient(130deg,#24c6dc,#5433ff 41.07%,#f09 76.05%);
  }
}

h2 {
  border-bottom: 0;
}

table {
  width: 100%;
}
table th,
table td {
  &:first-child {
    width: 220px;
  }
  &:nth-child(2) {
    width: 60%;
  }
  &:last-child {
    max-width: 200px;
  }
  width: 40%;
  min-width: 150px;
}
.page-nav, .theme-default-content:not(.custom) {
  max-width: 80% !important;
}

.demo-block .demo-block-control, .demo-block .demo-block-control .copy-action {
  color: #ff794a !important;
}
